{% extends "base.html" %} 

{% block headers %}

<script type="text/javascript" src="{{ STATIC_URL }}jquery.corner.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  // for rounded corners
  $(".activityPane").corner('15px');
});
</script>

<link rel="stylesheet" href="{{ STATIC_URL }}edu-python-title.css"/>

{% endblock %}

{% block body %}

<center>

<div class="titlePane">

<h1>Интерактивный учебник языка Python</h1>
<h2>Запускайте программы прямо в своём браузере</h2>

</div>

<div class="mainBodyPane">

{% for course, lessons in courses %}

<div class="activityPane" id="solvePane">

<h1>{{ course.title }}</h1>

{% if course.description %}
<div class="courseDescription">{{ course.description|safe }}</div>
{% endif %}

{% for lic in lessons %}
    {% comment %}
        {% if lic.lesson.description %}
        <p class="courseDescription">{{ lic.lesson.description|safe }}</p>
        {% endif %}
    {% endcomment %}
    <p>Занятие {{ lic.order }}. <a href="{% url 'courses' %}{{ course.urlname }}/lessons/{{ lic.lesson.urlname }}/">{{ lic.lesson.title }}</a>
    </p>
{% endfor %}
<a href="{% url 'courses' %}{{ course.urlname}}/standings/">Результаты курса</a>
</div>

{% endfor %}

<div class="activityPane" id="learnPane">

<h1>Изучайте Python</h1>
<h2>пишите код и смотрите на то, как он выполняется</h2>

<!--
<p>This free educational application allows teachers and students to
write Python scripts directly in the web browser, execute those scripts,
single-step <b>forwards and backwards</b> through execution, and view
the run-time state of all data structures.</p>

<p>Rather than displaying a bland text-based console, the Online Python
Tutor provides a rich visualization of variables, heap objects, and
stack frames. --> Например, для этого кода:</p>

<pre>
x = ["Alice", "Bob", "Charlie"]
y = x
z = ["Alice", "Bob", "Charlie"]
</pre>

<p>будет сгенерировано вот такое представление, которое демонстрирует, что два имени <code>x</code> и <code>y</code> 
ссылаются на один и тот же список, а <code>z</code>&nbsp;&#151; на другой.</p>

<center>
<img src="{{ STATIC_URL }}alias-screenshot.png" style="width: 500px"/>

<h3><a href="{% url 'visualizer' %}">Перейти к онлайн-интерпретатору Python!</a></h3>
</center>

</div>


</div>

</center>

{% endblock %}
