<center>

<div id="footer">

<!-- What is it? -->
<!-- <input type="checkbox" id="classicModeCheckbox"/> Use low-bandwidth mode (for older browsers) -->

<p>
Этот визуализатор имитирует выполнение некоторого подмножества языка Python 3.2. Реальное выполнение
кода происходит на Python 2.7, поэтому можно наблюдать некоторые ошибки, связанных с переводом
кода между версиями 2 и 3 до и после выполнения программы. Для запуска реальных приложений используйте <a href="http://python.org/download/">Python 3</a>, 
в качестве среды разработки рекомендуем <a href="http://wingware.com/downloads/wingide-101">Wind IDE 101</a>.
</p>

<p style="margin-top: 8px;"/> 
Check out the <a
href="https://github.com/pgbovine/OnlinePythonTutor/">GitHub</a>
original repository and send bug reports, feedback, and suggestions to philip@pgbovine.net
</p>

<p style="margin-top: 8px;"/>
Copyright &copy; 2010-2012 Philip Guo</a>.  All rights reserved.
</p>
</div>

</center>
